body{
    background-image: url(Fundo\ 6.jpeg);
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.tela-login{
    background-color: rgb(200, 255, 127);
    padding: 50px;
    border-radius: 10%;
    display: block;
    margin-top: 140px;

}
.tela-cadastro{
    background-color: rgb(200, 255, 127);
    padding: 50px;
    border-radius: 10%;
    display: block;
    margin-top: 80px;
}
.tela-inicio{
    background-color: rgb(200, 255, 127);
    padding: 50px;
    border-radius: 10%;
    display: block;
    margin-top: 140px;

}
.tela-inicio button{
    font-size:x-large;
}
.tela-login button{
    font-size:large;
}
.tela-cadastro button{
    font-size:large;
}
body.comeco{
    background-image: url(Fundo\ 6.jpeg);
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: stretch;
    /*Tirado justify*/
    flex-direction: column;
}
.Informacoes{
    background-color: rgba(205, 247, 215, 0.397);
    padding: 15px;
    border-radius: 5%;
    margin-top: -5px;
    display: flex;
    font-family:Gill Sans, sans-serif;
	color: #333;
    font-size: 0.7em;
    width: 100%;
    justify-content: space-between;
}
.conta-info{
    flex-direction: column; 
}
.Plat-1{
    align-self: flex-start;                 /*Alinhar somente a div*/
    background-color: rgba(205, 247, 215, 0.397);
    padding: 10px;
}