<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HYDRA</title>
        <link rel="stylesheet" href="style.css">
        <link rel="shortcut icon" href="Ícone.png" type="Ícone.png">
    </head>
<body class="comeco">
        <div class="Informacoes">
         <h1>Anônimo_512</h1>
            <div class="conta-info">
            <h4>Conta Na Steam: R$27,13<h4>
            <h4>Conta Na Epic: R$31,62<h4>     
            <h4>Conta Na Valve: R$0,12<h4>   
            <h4>Conta Na Store: R$46,98<h4>
            </div>
            <br>
            <h2>Conta</h2>
        </div>
        <div class="Biblioteca-Geral">
            <h1>Biblioteca Geral</h1>
            <a href="Biblioteca.html"><button type="submit">Biblioteca</button></a>
        </div>
        <div class="Plat-1" >
            <h3>Biblioteca Steam</h3>
            <a href="https://store.steampowered.com/?l=portuguese"><button type="submit">Abrir</button></a> 
        </div>  
    </body>
</html>