<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HYDRA</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="Ícone.png" type="Ícone.png">
</head>
<body>
    <div>
        <div class="tela-inicio">
            <h1>Bem-Vindo Ao HYDRA</h1>

            <a href="LOGIN.HTML">
                <button type="submit">Login</button>
            </a>
            <br>
            <br>

             <a href="CADASTRO.HTML">
                <button type="submit">Cadastro</button>
            </a>
            

        </div>
    </div>
</body>
</html>